
/* Date: 2016-06-30T14:29:28Z Path: css/touch/cart/index.css */
.touch-cart-container .cart-empty {
    margin-top: 1.25rem;
    width: 100%;
    height: 20rem;
    text-align: center
}

.touch-cart-container .empty-img {
    width: 4.625rem;
    height: 4.375rem;
    margin: 6.0625rem auto 0;
    background: url(http://a0.jmstatic.com/200e9bc509213c1e/empty_cart.png) no-repeat;
    background-size: 4.625rem 4.375rem
}

.touch-cart-container .empty-txt {
    color: #999;
    font-size: .875rem;
    margin-top: 1rem;
    line-height: 1.375rem;
    margin-bottom: 1.25rem
}

.touch-cart-container .today-tuan {
    padding: .5rem .9375rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: .125rem;
    font-size: .9375rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fe4175), to(#ed145b));
    background: -moz-linear-gradient(top, #fe4175, #ed145b);
    margin-top: 1.25rem
}

.touch-cart-confirm {
    display: block;
    width: 6.875rem;
    height: 1.875rem;
    color: #fff;
    text-align: center;
    line-height: 1.875rem;
    margin: .625rem .625rem 0 0;
    font-weight: 600;
    background: #9d5b35;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#9d5b35), to(#9d5b35));
    background: -moz-linear-gradient(top, #9d5b35, #9d5b35);
    border-radius: 1.875rem;
    -webkit-border-radius: 1.875rem
}

.touch-cart-fixed {
    position: fixed;
    bottom: 0;
    width: 20rem;
    height: 3.125rem;
    line-height: 3.125rem;
    border-top: .0625rem solid #DDD;
    background: rgba(255, 255, 255, .8);
    z-index: 8
}

.touch-cart-fixed .cart-price {
    margin-left: .625rem
}

.touch-cart-fixed .total-price {
    margin-top: .3125rem;
    line-height: 1.5625rem
}

.touch-cart-fixed .discount-price {
    color: #999;
    line-height: .9375rem;
    font-size: .75rem
}

.cart-deals-list ul li {
    display: block;
    border-bottom: .0625rem #d8d8d8 solid;
    position: relative;
    background: #f7f7f7;
    height: 6.25rem;
    padding: .9375rem .625rem
}

.cart-deals-list .product-img {
    display: block;
    position: absolute;
    left: .625rem;
    width: 6.25rem;
    height: 6.25rem
}

.cart-deals-list .product-img img {
    width: 100%;
    height: 100%;
    display: block
}

.cart-deals-list .cart-info {
    margin-left: 7.5rem
}

.cart-deals-list .main-title {
    height: 2.5rem;
    margin-top: .125rem;
    color: #333;
    overflow: hidden;
    font-size: .875rem
}

.cart-deals-list .sub-title {
    color: #999;
    height: 1.5625rem;
    overflow: hidden;
    font-size: .75rem;
    margin: .1875rem 0 .125rem
}

.btn-add, .btn-sub {
    display: inline-block;
    height: 1.5rem;
    vertical-align: top
}

.cart-deals-list {
    overflow: hidden
}

.cart-deals-list .info-left {
    width: 7.75rem
}

.cart-deals-list .sale-price {
    /*font-size: 1rem;*/
    color: #5e5e5e
}

.cart-deals-list .cart-market-price {
    color: #999;
    text-decoration: line-through;
    font-size: .875rem;
    text-align: right
}

.btn-add, .btn-sub, .product-bg, .quantity {
    text-align: center
}

.cart-deals-list .num-count {
    margin-top: .1875rem;
    border: .0625rem solid #dad7d7;
    -webkit-border-radius: .125rem;
    border-radius: .125rem
}

.btn-add {
    width: 2.375rem;
    line-height: 1.25rem;
    background: url(http://a5.jmstatic.com/75f5296d678d84ec/add.png) center center no-repeat;
    background-size: .875rem .875rem
}

.quantity {
    width: 2.8125rem;
    line-height: 1.5rem;
    border-left: .0625rem solid #dad7d7;
    border-right: .0625rem solid #dad7d7;
    color: #424242;
    border-bottom: 0;
    border-top: 0;
    font-size: .875rem
}

.btn-sub {
    width: 2.375rem;
    line-height: 1.25rem;
    background: url(http://a2.jmstatic.com/d943ba4a23e117dd/sub.png) center center no-repeat;
    background-size: .875rem .875rem
}

.btn-sub-select {
    background: url(http://a4.jmstatic.com/188153b587aed636/sub_select.png) center center no-repeat;
    background-size: .875rem .875rem
}

.btn-add-select {
    background: url(http://a2.jmstatic.com/fe254be412679c0e/add_select.png) center center no-repeat;
    background-size: .875rem .875rem
}

.icon {
    font-size: 1rem;
    color: #f54c71
}

.cart-del {
    background: url(http://a3.jmstatic.com/6b14759564dbf1ea/trash.png) center center no-repeat;
    background-size: 1.125rem 1.125rem;
    display: block;
    width: 1.875rem;
    height: 1.875rem
}

.cart-title {
    position: relative
}

.price-list {
    position: absolute;
    top: .1875rem;
    right: 0
}

.product-bg {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 2.125rem;
    padding: 0;
    left: 1.75rem;
    line-height: 3.75rem;
    font-size: 1.125rem;
    z-index: 5;
    color: #fff;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 6.25rem
}

.cart-deals-list ul li.zuhe-product {
    height: 16.25rem
}

.zuhe-product .zhe-product-list {
    margin-bottom: .75rem
}

.zuhe-product .num-count {
    float: left;
    border: 0
}

.product-list-bottom {
    border-bottom: solid .0625rem #ccc;
    padding-bottom: 1.0625rem
}

.zuhe-product .cart-info {
    height: 6.25rem
}

.zuhe-product .zuhe-bottom {
    position: relative;
    border-top: solid .0625rem #ccc;
    padding-top: .625rem
}

.zuhe-product .zuhe-price {
    width: 10.625rem;
    position: absolute;
    left: .1875rem;
    top: 1.0625rem;
    color: #666;
    font-size: .875rem
}

.zuhe-product .num-count-price {
    margin-top: .1875rem;
    border: .0625rem solid #dad7d7;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    float: right
}

.message {
    height: 2.5rem;
    line-height: 2.5rem;
    color: #e93967;
    padding-left: .75rem;
    background: #363b41;
    font-size: .875rem;
    display: none
}

.zhe-product-list .main-title {
    width: 11.25rem
}
