/* Date: 2016-06-30T14:29:28Z Path: css/lib/common.css */
body, button, input, keygen, legend, select, textarea {
    outline: 0
}

input, select {
    /*-webkit-appearance: none*/
}

.tal, caption, th {
    text-align: left
}

blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, menu, ol, p, pre, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    font-size: .875rem
}

address, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th {
    font-weight: 400
}

abbr, body, fieldset, html, iframe, img {
    border: 0
}



address, cite, dfn, em, i, var {
    font-style: normal
}

li {
    list-style: none
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%
}

body, input {
    font-size: .875rem
}

code, kbd, pre, samp {
    font-family: inherit
}

q:after, q:before {
    content: none
}

textarea {
    overflow: auto;
    resize: none
}

b, em, h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700
}

a, a:hover, del, ins, s, u {
    text-decoration: none
}

input {
    border: none;
    text-transform: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0)
}

.clear:after, .clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.hidden, .ui-bg {
    display: none
}



div {
    color: inherit
}

a {
    color: #333
}

.fs10 {
    font-size: .625rem
}

.fs12 {
    font-size: .75rem
}

.fs14 {
    font-size: .875rem
}

.fs16 {
    font-size: 1rem
}

.fs18 {
    font-size: 1.125rem
}

.fs20 {
    font-size: 1.25rem
}

.fs22 {
    font-size: 1.375rem
}

.fs24 {
    font-size: 1.5rem
}

.fw900 {
    font-weight: 900
}

.fw100 {
    font-weight: 100
}

.fl {
    float: left
}

.fr {
    float: right
}

.tar {
    text-align: right
}

.tac {
    text-align: center
}

.oh {
    overflow: hidden
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

.color6 {
    color: #666
}

.color9 {
    color: #999
}

.color0 {
    color: #000
}

.color-jm {
    color: #ed145b
}

.ui-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 11;
    -webkit-user-select: none;
    -webkit-user-drag: none
}

.touch-header {
    text-align: left;
    height: 2.75rem;
    position: relative;
    background: #9d5b35;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 15
}

.touch-header-back, .touch-header-home {
    width: 2.75rem;
    height: 2.75rem;
    position: absolute
}

.touch-header-title {
    display: block;
    text-align: center;
    margin: 0 2.1875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 700;
    height: 2.75rem;
    line-height: 2.75rem;
    text-shadow: 0 .0625rem .0625rem #9d5b35
}

.touch-footer, .touch-footer-container {
    padding-left: .625rem;
    padding-right: .625rem;
    margin-top: .4375rem;
    padding-bottom: 3.125rem
}

.touch-header-back {
    left: 0;
    background: url(http://a0.jmstatic.com/bae11435b0c3c891/header_back.png) .9375rem center no-repeat;
    background-size: 1.1875rem 1.0625rem
}

.touch-header-home {
    background: url(http://a0.jmstatic.com/3f11836499203a75/header_home.png) center center no-repeat;
    background-size: 1.5625rem 1.5625rem;
    top: 0;
    right: 0
}

.bottom-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.125rem;
    line-height: 3.125rem;
    background: #ededed;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f3f3), to(#fdfdfd));
    z-index: 11;
    border-top: .0625rem solid #DDD;
    left: 0
}

.touch-footer-container .top-line {
    border-top: .0625rem dashed #a0a0a0
}

.touch-footer-container .footer-image {
    margin-top: .625rem;
    margin-bottom: .625rem
}

.touch-footer-container .tab {
    text-align: center;
    width: 18.75rem;
    margin-left: auto;
    margin-right: auto
}

.touch-footer-container .bottom-rights {
    position: relative;
    margin: 1.25rem auto .625rem;
    color: #a0a0a0;
    font-size: .625rem;
    width: 100%;
    text-align: center
}

.touch-footer-container .footer-image img {
    width: 100%
}

.touch-footer-container .tab li {
    border: .0625rem solid #e0dfdf;
    line-height: 200%;
    color: #a0a0a0;
    font-size: .75rem;
    height: 1.625rem;
    width: 5.75rem;
    margin-right: .375rem;
    display: inline-block
}

.touch-footer-container .tab .checked {
    background: #FFF
}

.touch-footer-container .tab .checked a {
    color: #ed145b
}

.touch-float-car {
    position: fixed;
    bottom: 1.25rem;
    width: 2.8125rem;
    height: 2.8125rem;
    display: block;
    border-radius: 2.8125rem;
    z-index: 18;
    left: 1.25rem;
    text-align: left;
    background: rgba(237, 20, 91, .8)
}

.touch-float-car img {
    width: 1.25rem;
    margin: .875rem 0 0 .6875rem
}

.shoping-car-num {
    position: absolute;
    top: .5rem;
    left: 1.4375rem;
    padding: .0625rem .25rem;
    color: #ed145b;
    border-radius: .9375rem;
    font-size: .75rem;
    text-align: center;
    line-height: .75rem;
    background: #fff
}
