/* Date: 2016-06-30T14:29:28Z Path: css/lib/common.css */
body, button, input, keygen, legend, select, textarea {
    outline: 0
}

input, select {
    -webkit-appearance: none
}

.tal, caption, th {
    text-align: left
}

blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, menu, ol, p, pre, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    font-size: .875rem
}

address, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th {
    font-weight: 400
}

abbr, body, fieldset, html, iframe, img {
    border: 0
}

html {
    display: none;
    -webkit-font-smoothing: antialiased
}

address, cite, dfn, em, i, var {
    font-style: normal
}

li {
    list-style: none
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%
}

body, input {
    font-size: .875rem
}

code, kbd, pre, samp {
    font-family: inherit
}

q:after, q:before {
    content: none
}

textarea {
    overflow: auto;
    resize: none
}

b, em, h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700
}

a, a:hover, del, ins, s, u {
    text-decoration: none
}

input {
    border: none;
    text-transform: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0)
}

.clear:after, .clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.hidden, .ui-bg {
    display: none
}

body {
    font-family: Arial, helvetica, "寰蒋闆呴粦", "Microsoft Yahei", sans-serif;
    margin: 0 auto;
    width: 20rem
}

div {
    color: inherit
}

a {
    color: #333
}

.fs10 {
    font-size: .625rem
}

.fs12 {
    font-size: .75rem
}

.fs14 {
    font-size: .875rem
}

.fs16 {
    font-size: 1rem
}

.fs18 {
    font-size: 1.125rem
}

.fs20 {
    font-size: 1.25rem
}

.fs22 {
    font-size: 1.375rem
}

.fs24 {
    font-size: 1.5rem
}

.fw900 {
    font-weight: 900
}

.fw100 {
    font-weight: 100
}

.fl {
    float: left
}

.fr {
    float: right
}

.tar {
    text-align: right
}

.tac {
    text-align: center
}

.oh {
    overflow: hidden
}

.pr {
    position: relative
}

.pa {
    position: absolute
}

.color6 {
    color: #666
}

.color9 {
    color: #999
}

.color0 {
    color: #000
}

.color-jm {
    color: #ed145b
}

.ui-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 11;
    -webkit-user-select: none;
    -webkit-user-drag: none
}

.touch-header {
    text-align: left;
    height: 2.75rem;
    position: relative;
    background: #9d5b35;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 15
}

.touch-header-back, .touch-header-home {
    width: 2.75rem;
    height: 2.75rem;
    position: absolute
}

.touch-header-title {
    display: block;
    text-align: center;
    margin: 0 2.1875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 700;
    height: 2.75rem;
    line-height: 2.75rem;
    text-shadow: 0 .0625rem .0625rem #9d5b35
}

.touch-footer, .touch-footer-container {
    padding-left: .625rem;
    padding-right: .625rem;
    margin-top: .4375rem;
    padding-bottom: 3.125rem
}

.touch-header-back {
    left: 0;
    background: url(http://a0.jmstatic.com/bae11435b0c3c891/header_back.png) .9375rem center no-repeat;
    background-size: 1.1875rem 1.0625rem
}

.touch-header-home {
    background: url(http://a0.jmstatic.com/3f11836499203a75/header_home.png) center center no-repeat;
    background-size: 1.5625rem 1.5625rem;
    top: 0;
    right: 0
}

.bottom-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.125rem;
    line-height: 3.125rem;
    background: #ededed;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f3f3), to(#fdfdfd));
    z-index: 11;
    border-top: .0625rem solid #DDD;
    left: 0
}

.touch-footer-container .top-line {
    border-top: .0625rem dashed #a0a0a0
}

.touch-footer-container .footer-image {
    margin-top: .625rem;
    margin-bottom: .625rem
}

.touch-footer-container .tab {
    text-align: center;
    width: 18.75rem;
    margin-left: auto;
    margin-right: auto
}

.touch-footer-container .bottom-rights {
    position: relative;
    margin: 1.25rem auto .625rem;
    color: #a0a0a0;
    font-size: .625rem;
    width: 100%;
    text-align: center
}

.touch-footer-container .footer-image img {
    width: 100%
}

.touch-footer-container .tab li {
    border: .0625rem solid #e0dfdf;
    line-height: 200%;
    color: #a0a0a0;
    font-size: .75rem;
    height: 1.625rem;
    width: 5.75rem;
    margin-right: .375rem;
    display: inline-block
}

.touch-footer-container .tab .checked {
    background: #FFF
}

.touch-footer-container .tab .checked a {
    color: #ed145b
}

.touch-float-car {
    position: fixed;
    bottom: 1.25rem;
    width: 2.8125rem;
    height: 2.8125rem;
    display: block;
    border-radius: 2.8125rem;
    z-index: 18;
    left: 1.25rem;
    text-align: left;
    background: rgba(237, 20, 91, .8)
}

.touch-float-car img {
    width: 1.25rem;
    margin: .875rem 0 0 .6875rem
}

.shoping-car-num {
    position: absolute;
    top: .5rem;
    left: 1.4375rem;
    padding: .0625rem .25rem;
    color: #ed145b;
    border-radius: .9375rem;
    font-size: .75rem;
    text-align: center;
    line-height: .75rem;
    background: #fff
}

/* Date: 2016-06-30T14:29:30Z Path: css/touch/product/guide_download.css */
.txt_11, .txt_11_daiyan, .txt_301, .txt_301_daiyan {
    font-family: '黑体', Arial, Verdana, Sans-serif
}

.txt1, .txt_11, .txt_301 {
    font-weight: 700
}

.txt, .txt2, .txt_301 {
    color: #444
}

#jumei_location {
    background: url(http://images.jumei.com/mobile/icon/bg_01.png);
    height: 3.25rem;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10;
    display: none
}

.guide_logo {
    width: 2.625rem;
    margin-top: .375rem;
    margin-left: .5rem;
    margin-right: .75rem;
    float: left;
    display: block
}

.txt {
    width: 9.25rem;
    margin-left: 3.625rem;
    padding-top: .125rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.txt_11 {
    font-size: .875rem;
    height: 1.6875rem;
    line-height: 1.6875rem
}

.txt_11_daiyan {
    font-size: .8125rem;
    height: 2.125rem;
    line-height: 2.125rem
}

.txt_301 {
    font-size: .875rem;
    height: 1.625rem;
    line-height: 1.625rem
}

#jumei_lo, .txt_301_daiyan {
    height: 1.875rem;
    line-height: 1.875rem
}

.txt_301_daiyan {
    font-size: .8125rem;
    color: #444
}

#jumei_lo, .txt1, .txt2 {
    font-size: .75rem
}

.txt1 {
    margin-bottom: .1875rem
}

#close_banner {
    position: absolute;
    top: .3125rem;
    right: .3125rem;
    overflow: hidden
}

#close_banner img {
    width: .75rem;
    height: .75rem
}

#jumei_lo {
    position: absolute;
    top: .8125rem;
    width: 5.25rem;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 1.25rem;
    right: 1.375rem;
    background: #FE4478
}

/* Date: 2016-06-30T14:29:28Z Path: css/ui/ui.css */
.ui-dialog-wrap {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 162.5rem;
    z-index: 18;
    top: 0
}

.ui-bg {
    top: 0;
    -webkit-user-select: none;
    -webkit-user-drag: none
}

.ui-dialog {
    position: absolute;
    z-index: 19;
    overflow: hidden;
    display: none;
    border-radius: .4375rem;
    -webkit-border-radius: .4375rem;
    background: #f5f5f5;
    -webkit-transition: all .3s ease;
    min-width: 11.25rem;
    text-align: center
}

.ui-dialog .ui-dialog-title {
    height: 3.0625rem;
    overflow: hidden;
    color: #000;
    line-height: 3.0625rem
}

.ui-dialog .ui-dialog-title div {
    font-size: 1rem;
    text-align: center;
    font-weight: 700
}

.ui-dialog .ui-dialog-title .ui-dialog-close {
    float: right;
    position: absolute;
    top: .3125rem;
    right: .1875rem;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    background: url(http://images.jumei.com/mobile/act/image/flash/close.png) center no-repeat;
    background-size: 1rem 1rem
}

.ui-dialog-btn .ui-dialog-cancel, .ui-dialog-btn .ui-dialog-ok {
    width: 50%;
    height: 2.8125rem;
    cursor: pointer;
    line-height: 2.8125rem
}

.ui-dialog-content {
    display: inline-block;
    text-align: left;
    min-height: 3.75rem;
    color: #000;
    font-size: .875rem;
    overflow: hidden;
    vertical-align: top;
    padding: 0 .9375rem
}

.ui-dialog-btn {
    overflow: hidden;
    border-top: .0625rem solid #ccc;
    color: #0079FF;
    font-size: 1rem
}

.ui-dialog-btn .ui-dialog-ok {
    float: right;
    text-align: center;
    border-left: .0625rem solid #ccc;
    margin-right: -.0625rem
}

.ui-dialog-btn .ui-dialog-cancel {
    float: left;
    text-align: center
}

.ui-bg, .ui-bottom-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none
}

.ui-bg {
    height: 100%;
    z-index: 11;
    background: rgba(0, 0, 0, .5)
}

.ui-bottom-box {
    background: #fff;
    line-height: 1.5625rem;
    color: #999;
    z-index: 12
}

.ui-bottom-content {
    height: 8.625rem
}

.ui-bottom-title {
    background: #eee;
    box-shadow: .0625rem .0625rem .3125rem #ddd;
    line-height: 1.5625rem;
    position: relative;
    display: block;
    padding: .625rem;
    border-bottom: solid .0625rem #ddd
}

.ui-bottom-cancel, .ui-bottom-sure {
    display: block;
    font-size: 1rem
}

.ui-bottom-cancel {
    float: left
}

.ui-bottom-sure {
    color: #ed145b;
    float: right
}

.toast-boxs {
    padding: .3125rem;
    border-radius: .1875rem;
    background: #000;
    font-size: .75rem;
    color: #fff
}

i {
    text-decoration: none;
    font-style: normal
}

.countdown {
    font-size: .875rem;
    letter-spacing: 0;
    position: absolute;
    top: .1875rem;
    left: 9.9375rem;
    width: 6.375rem;
    height: 1.25rem;
    line-height: 1.25rem;
    color: #fff
}

.countdown .count-hour, .countdown .count-minute, .countdown .count-second {
    position: absolute;
    letter-spacing: 3.5rem
}

.countdown > span {
    width: 1.25rem;
    height: 1.25rem;
    overflow: hidden
}

.countdown .count-day {
    position: absolute;
    top: 0;
    left: -.375rem;
    width: 2.1875rem
}

.countdown .count-hour {
    top: 0;
    left: 2.6875rem
}

.countdown .count-minute {
    top: 0;
    left: 4.75rem
}

.countdown .count-second {
    top: 0;
    left: 6.875rem
}

.countdown i.digit-wrap {
    position: relative;
    top: -1.25rem
}

.countdown .digit {
    height: 1.25rem;
    width: .5rem
}

.countdown .digit-wrap i {
    display: block
}

.countdown .animate {
    position: absolute;
    top: 0
}

.countdown .count-day > i, .countdown .count-hour > i, .countdown .count-minute > i, .countdown .count-second > i {
    float: left
}

.text_time span.timeday {
    margin-left: 1.875rem
}

.ui-slider-boxs {
    width: 100%;
    overflow: hidden;
    position: relative
}

.ui-slider-boxs img {
    width: 100%
}

.ui-slider-dots {
    text-align: center;
    margin-top: 0;
    width: 100%;
    position: absolute;
    bottom: .4375rem
}

.ui-slider-dots b.ui-dot-select {
    background: #ed145b
}

.ui-slider-dots b {
    display: inline-block;
    width: .375rem;
    height: .375rem;
    border-radius: .375rem;
    margin-right: .3125rem;
    background: #fff
}

#share-module {
    background: #fff;
    position: fixed;
    bottom: 0;
    width: 20rem;
    height: 9.375rem;
    -webkit-transform: translate3d(0, 9.375rem, 0);
    -webkit-transition: -webkit-transform .5s ease;
    z-index: 12
}

#share-module.share-show {
    -webkit-transform: translate3d(0, 0, 0)
}

#share-module.share-hide {
    -webkit-transform: translate3d(0, 9.375rem, 0)
}

#share-module a img {
    display: block;
    width: 3.75rem
}

#share-module a {
    margin: 0 .625rem;
    display: inline-block
}

#share-module-wrapper {
    margin: 0 auto .875rem;
    padding-top: .9375rem;
    text-align: center;
    height: 4.875rem
}

#share-module .close-share {
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-top: solid .0625rem gray
}

#share-module-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: rgba(0, 0, 0, .3)
}

/* Date: 2016-06-30T14:29:28Z Path: css/touch/cart/index.css */
.touch-cart-container .cart-empty {
    margin-top: 1.25rem;
    width: 100%;
    height: 20rem;
    text-align: center
}

.touch-cart-container .empty-img {
    width: 4.625rem;
    height: 4.375rem;
    margin: 6.0625rem auto 0;
    background: url(http://a0.jmstatic.com/200e9bc509213c1e/empty_cart.png) no-repeat;
    background-size: 4.625rem 4.375rem
}

.touch-cart-container .empty-txt {
    color: #999;
    font-size: .875rem;
    margin-top: 1rem;
    line-height: 1.375rem;
    margin-bottom: 1.25rem
}

.touch-cart-container .today-tuan {
    padding: .5rem .9375rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: .125rem;
    font-size: .9375rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fe4175), to(#ed145b));
    background: -moz-linear-gradient(top, #fe4175, #ed145b);
    margin-top: 1.25rem
}

.touch-cart-confirm {
    display: block;
    width: 6.875rem;
    height: 1.875rem;
    color: #fff;
    text-align: center;
    line-height: 1.875rem;
    margin: .625rem .625rem 0 0;
    font-weight: 600;
    background: #9d5b35;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#9d5b35), to(#9d5b35));
    background: -moz-linear-gradient(top, #9d5b35, #9d5b35);
    border-radius: 1.875rem;
    -webkit-border-radius: 1.875rem
}

.touch-cart-fixed {
    position: fixed;
    bottom: 0;
    width: 20rem;
    height: 3.125rem;
    line-height: 3.125rem;
    border-top: .0625rem solid #DDD;
    background: rgba(255, 255, 255, .8);
    z-index: 8
}

.touch-cart-fixed .cart-price {
    margin-left: .625rem
}

.touch-cart-fixed .total-price {
    margin-top: .3125rem;
    line-height: 1.5625rem
}

.touch-cart-fixed .discount-price {
    color: #999;
    line-height: .9375rem;
    font-size: .75rem
}

.cart-deals-list ul li {
    display: block;
    border-bottom: .0625rem #d8d8d8 solid;
    position: relative;
    background: #f7f7f7;
    height: 6.25rem;
    padding: .9375rem .625rem
}

.cart-deals-list .product-img {
    display: block;
    position: absolute;
    left: .625rem;
    width: 6.25rem;
    height: 6.25rem
}

.cart-deals-list .product-img img {
    width: 100%;
    height: 100%;
    display: block
}

.cart-deals-list .cart-info {
    margin-left: 7.5rem
}

.cart-deals-list .main-title {
    height: 2.5rem;
    margin-top: .125rem;
    color: #333;
    overflow: hidden;
    font-size: .875rem
}

.cart-deals-list .sub-title {
    color: #999;
    height: 1.5625rem;
    overflow: hidden;
    font-size: .75rem;
    margin: .1875rem 0 .125rem
}

.btn-add, .btn-sub {
    display: inline-block;
    height: 1.5rem;
    vertical-align: top
}

.cart-deals-list {
    overflow: hidden
}

.cart-deals-list .info-left {
    width: 7.75rem
}

.cart-deals-list .sale-price {
    font-size: 1rem;
    color: #5e5e5e
}

.cart-deals-list .cart-market-price {
    color: #999;
    text-decoration: line-through;
    font-size: .875rem;
    text-align: right
}

.btn-add, .btn-sub, .product-bg, .quantity {
    text-align: center
}

.cart-deals-list .num-count {
    margin-top: .1875rem;
    border: .0625rem solid #dad7d7;
    -webkit-border-radius: .125rem;
    border-radius: .125rem
}

.btn-add {
    width: 2.375rem;
    line-height: 1.25rem;
    background: url(http://a5.jmstatic.com/75f5296d678d84ec/add.png) center center no-repeat;
    background-size: .875rem .875rem
}

.quantity {
    width: 2.8125rem;
    line-height: 1.5rem;
    border-left: .0625rem solid #dad7d7;
    border-right: .0625rem solid #dad7d7;
    color: #424242;
    border-bottom: 0;
    border-top: 0;
    font-size: .875rem
}

.btn-sub {
    width: 2.375rem;
    line-height: 1.25rem;
    background: url(http://a2.jmstatic.com/d943ba4a23e117dd/sub.png) center center no-repeat;
    background-size: .875rem .875rem
}

.btn-sub-select {
    background: url(http://a4.jmstatic.com/188153b587aed636/sub_select.png) center center no-repeat;
    background-size: .875rem .875rem
}

.btn-add-select {
    background: url(http://a2.jmstatic.com/fe254be412679c0e/add_select.png) center center no-repeat;
    background-size: .875rem .875rem
}

.icon {
    font-size: 1rem;
    color: #f54c71
}

.cart-del {
    background: url(http://a3.jmstatic.com/6b14759564dbf1ea/trash.png) center center no-repeat;
    background-size: 1.125rem 1.125rem;
    display: block;
    width: 1.875rem;
    height: 1.875rem
}

.cart-title {
    position: relative
}

.price-list {
    position: absolute;
    top: .1875rem;
    right: 0
}

.product-bg {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 2.125rem;
    padding: 0;
    left: 1.75rem;
    line-height: 3.75rem;
    font-size: 1.125rem;
    z-index: 5;
    color: #fff;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 6.25rem
}

.cart-deals-list ul li.zuhe-product {
    height: 16.25rem
}

.zuhe-product .zhe-product-list {
    margin-bottom: .75rem
}

.zuhe-product .num-count {
    float: left;
    border: 0
}

.product-list-bottom {
    border-bottom: solid .0625rem #ccc;
    padding-bottom: 1.0625rem
}

.zuhe-product .cart-info {
    height: 6.25rem
}

.zuhe-product .zuhe-bottom {
    position: relative;
    border-top: solid .0625rem #ccc;
    padding-top: .625rem
}

.zuhe-product .zuhe-price {
    width: 10.625rem;
    position: absolute;
    left: .1875rem;
    top: 1.0625rem;
    color: #666;
    font-size: .875rem
}

.zuhe-product .num-count-price {
    margin-top: .1875rem;
    border: .0625rem solid #dad7d7;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    float: right
}

.message {
    height: 2.5rem;
    line-height: 2.5rem;
    color: #e93967;
    padding-left: .75rem;
    background: #363b41;
    font-size: .875rem;
    display: none
}

.zhe-product-list .main-title {
    width: 11.25rem
}

/* Date: 2016-06-30T14:29:30Z Path: css/touch/cart/portrait.css */
.ui-dialog {
    width: 17.5rem
}

.ui-dialog-content {
    padding: 0
}

.ui-dialog .ui-dialog-title {
    background: #f0f0f0
}

.ui-dialog .ui-dialog-title .ui-dialog-close {
    background: url(http://a3.jmstatic.com/d4111f9a36c2bca2/close_new.png) center no-repeat;
    background-size: .875rem .875rem
}

.data-title, .product-btn {
    background: #ed145b;
    color: #fff
}

.data-title {
    height: 2rem;
    padding: .625rem 1.25rem
}

.product-img {
    width: 5rem;
    height: 5rem
}

.product-desc {
    width: 10rem;
    height: 5rem;
    padding: 0 .625rem;
    position: relative
}

.product-desc .title {
    height: 2.375rem;
    margin-bottom: 1.25rem
}

.data-content {
    padding: .625rem;
    height: 14.375rem;
    overflow: auto !important;
    position: relative
}

.product-btn-common {
    position: absolute;
    bottom: .625rem;
    right: 0
}

.product-btn-list {
    margin-left: 5.625rem
}

.data-content li:first-child {
    border-top: 0
}

.data-content li {
    padding: .625rem 0;
    border-top: solid .0625rem #ddd;
    position: relative
}

.product-btn {
    width: 4.875rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    text-align: center;
    border-radius: .9375rem
}

.product-btn.selected {
    background: #fff;
    color: #ed145b;
    border: .0625rem solid #ed145b
}

.ui-dialog-btn {
    height: 3.75rem
}

.ui-dialog {
    background: #fff
}

.ui-dialog-btn .ui-dialog-ok {
    height: 1.875rem;
    width: 14.25rem !important;
    background: #ccc;
    margin: .9375rem auto;
    float: none;
    line-height: 1.875rem;
    color: #fff;
    border-radius: 1.875rem
}

.ui-dialog-btn .ui-dialog-ok.selected {
    background: #ed145b
}

.icon-x {
    float: left
}

.icon-x img {
    width: .5rem;
    margin-left: .25rem
}

#global-dialog {
    z-index: 19
}

/* Date: 2016-06-30T14:29:30Z Path: css/touch/cart/landscape.css */
.touch-cart-fixed {
    width: 100%
}

.ui-dialog {
    width: 85%
}

.ui-dialog-content {
    width: 100%;
    padding: 0;
    height: 6.25rem;
    overflow: auto !important
}

.ui-dialog .ui-dialog-title {
    background: #f0f0f0
}

.ui-dialog .ui-dialog-title .ui-dialog-close {
    background: url(http://a3.jmstatic.com/d4111f9a36c2bca2/close_new.png) center no-repeat;
    background-size: .875rem .875rem
}

.data-title, .product-btn {
    background: #ed145b;
    color: #fff;
    text-align: center
}

.data-title {
    min-height: 1rem;
    padding: .5rem 1.25rem
}

.data-content, .product-desc {
    padding: 0 .625rem;
    position: relative
}

.product-img {
    width: 5rem;
    height: 5rem
}

.product-desc {
    width: 10rem;
    height: 5rem
}

.product-desc .title {
    height: 2.375rem;
    margin-bottom: 1.25rem
}

.data-content {
    height: 4.25rem;
    overflow: auto !important
}

.product-btn-common {
    position: absolute;
    bottom: .625rem;
    right: 0
}

.product-btn-list {
    margin-left: 5.625rem
}

.data-content li:first-child {
    border-top: 0
}

.data-content li {
    padding: .625rem 0;
    border-top: solid .0625rem #ddd;
    position: relative
}

.product-btn {
    width: 4.875rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    border-radius: .9375rem
}

.product-btn.selected {
    background: #fff;
    color: #ed145b;
    border: .0625rem solid #ed145b
}

.ui-dialog-btn {
    height: 3.75rem
}

.ui-dialog {
    background: #fff
}

.ui-dialog-btn .ui-dialog-ok {
    height: 1.875rem;
    width: 14.25rem !important;
    background: #ccc;
    margin: .9375rem auto;
    float: none;
    line-height: 1.875rem;
    color: #fff;
    border-radius: 1.875rem
}

.ui-dialog-btn .ui-dialog-ok.selected {
    background: #ed145b
}

.icon-x {
    float: left
}

.icon-x img {
    width: .5rem;
    margin-left: .25rem
}

#global-dialog {
    z-index: 19
}

@media (min-height: 350px) and (max-height: 380px) and (orientation: landscape) {
    .ui-dialog-content {
        height: 120px
    }

    .data-content {
        height: 88px
    }
}

@media (min-height: 381px) and (max-height: 415px) and (orientation: landscape) {
    .ui-dialog-content {
        height: 140px
    }

    .data-content {
        height: 108px
    }
}

@media (min-height: 416px) and (max-height: 445px) and (orientation: landscape) {
    .ui-dialog-content {
        height: 160px
    }

    .data-content {
        height: 128px
    }
}

@media (min-height: 446px) and (max-height: 505px) and (orientation: landscape) {
    .ui-dialog-content {
        height: 180px
    }

    .data-content {
        height: 148px
    }
}

@media (min-height: 506px) and (max-height: 601px) and (orientation: landscape) {
    .ui-dialog-content {
        height: 210px
    }

    .data-content {
        height: 178px
    }
}

@media (min-height: 602px) and (orientation: landscape) {
    .ui-dialog-content {
        height: 250px
    }

    .data-content {
        height: 218px
    }
}

.gmu-media-detect {
    -webkit-transition: width 0.001ms;
    width: 0;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (width: 412px) {
    #gmu-media-detect0 {
        width: 1px;
    }
}