.upload-item {
    width: 38px;
    height: 38px;
    background: #fff;
    border: 1px solid #ccc;
    position: relative;
    float: left;
    margin-right: 10px
}

.upload-file, .upload-preview {
    position: absolute
}

.upload-file .file-mask {
    position: absolute;
    width: 38px;
    height: 38px;
    background: url(/images/user/file-mask.png);
    background-size: 39px;
    z-index: 2;
    border: none
}

.upload-file .file-real {
    position: absolute;
    width: 38px;
    height: 38px;
    z-index: 1;
    opacity: 0
}

.upload-preview img {
    width: 38px !important;
    height: 38px !important
}

.upload-preview .upload-delete {
    position: absolute;
    z-index: 3;
    background: url(/images/user/close.png) center no-repeat;
    background-position: 9px 9px;
    background-size: 18px 18px;
    width: 36px;
    height: 36px;
    top: -18px;
    right: -18px
}

.ui-dialog-wrap {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 2600px;
    z-index: 1000000;
    top: 0
}

.ui-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 9999;
    -webkit-transition: all .5s;
    -webkit-transform: translateZ(0);
    -webkit-user-select: none;
    -webkit-user-drag: none;
    display: none
}

.ui-dialog {
    position: absolute;
    z-index: 2000000;
    overflow: hidden;
    width: 284px;
    display: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    background: #f5f5f5;
    -webkit-transition: all .3s ease
}

.ui-dialog .ui-dialog-title {
    height: 49px;
    overflow: hidden;
    color: #000;
    line-height: 49px
}

.ui-dialog .ui-dialog-title div {
    font-size: 16px;
    text-align: center;
    font-weight: 700
}

.ui-dialog .ui-dialog-title .ui-dialog-close {
    float: right;
    position: absolute;
    top: 5px;
    right: 3px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: url(/images/user/mobile_dialog_close.png) center no-repeat;
    background-size: 24px 24px
}

.ui-dialog-content {
    text-align: left;
    min-height: 60px;
    color: #000;
    font-size: 16px;
    overflow: hidden;
    padding: 0 15px
}

.ui-dialog-btn {
    overflow: hidden;
    border-top: 1px solid #ccc;
    color: #0079FF;
    font-size: 16px
}

.ui-dialog-btn .ui-dialog-ok {
    width: 50%;
    height: 45px;
    float: right;
    text-align: center;
    cursor: pointer;
    border-left: 1px solid #ccc;
    margin-right: -1px;
    line-height: 45px
}

.ui-dialog-btn .ui-dialog-cancel {
    float: left;
    width: 50%;
    height: 45px;
    text-align: center;
    cursor: pointer;
    line-height: 45px
}

.rma-dialog .ui-dialog-content {
    padding: 0
}

.rma-category-item {
    line-height: 40px;
    text-align: center;
    border-top: 1px solid #e0e0e0
}

.rma-category-item a, .rma-category-item a:hover {
    color: #ed145b;
    font-size: 14px;
    text-decoration: none
}

.rma-category-item a.disabled {
    color: #e0e0e0
}

.android.ui-dialog {
    border-radius: 0
}

.android.ui-dialog .ui-dialog-title {
    height: 42px
}

.android.ui-dialog .ui-dialog-title div {
    text-align: left;
    background: #333;
    color: #fff;
    text-indent: 10px;
    line-height: 42px
}

.android.ui-dialog .ui-dialog-title .ui-dialog-close {
    background: url(/images/user/mobile_dialog_close.png) center no-repeat;
    background-size: 24px 24px;
    top: 1px;
    right: 0
}

.android .ui-dialog-btn .ui-dialog-cancel, .android .ui-dialog-btn .ui-dialog-ok {
    height: 40px;
    line-height: 40px;
    color: #ea3a77
}

.ios .ui-dialog-close {
    display: none
}

body {
    margin: 0;
    padding: 0;
    background: #F2F2F2
}

.user {
    position: relative;
    width: 320px;
    height: 105px;
    background: #fff
}

.user_bg {
    position: absolute;
    width: 320px;
    height: 106px;
    background-image: linear-gradient(-204deg, #5d301c 0, #94532B 100%)
}

.user .photo {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 32px;
    top: 40px;
    z-index: 10
}

.user_info {
    font-size: 12px;
    color: #fff;
    position: absolute;
    left: 112px;
    top: 50px;
    bottom: 4px
}

.user_info .name {
    display: block;
    font-size: 13px;
    letter-spacing: .65px;
    line-height: 15px
}

.user_info .grade {
    background: rgba(255, 255, 255, .2);
    border-radius: 100px;
    letter-spacing: .65px;
    line-height: 18px;
    padding: 3px 5px
}

.user .icons {
    width: 230px;
    height: 50px;
    position: absolute;
    bottom: 2px;
    right: 0;
    font-size: 12px;
    text-align: center
}

.user .icons .icon {
    width: 18px;
    height: 18px;
    background-size: 17px 17px;
    margin: 7px auto;
    background-repeat: no-repeat
}

.user .fav, .user .onsale, .user .wishlist {
    display: block;
    width: 76px;
    height: 50px;
    float: left
}

.user .wishlist .icon {
    background-image: url(/images/user/wishlist.png)
}

.user .onsale .icon {
    background-image: url(/images/user/onsale.png)
}

.user .fav .icon {
    background-image: url(/images/user/fav.png)
}

.block {
    background: #fff;
    margin-top: 12px
}

i.arrow-right {
    background-image: url(/images/user/advance_bg.png);
    background-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px
}

.block-title-nav {
    float: right;
    text-decoration: none;
    color: #999;
    font-size: 12px;
    margin-right: 5px
}

i.block-title-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-right: 10px
}

i.myorder {
    background-image: url(/images/user/myorder.png)
}

i.myfund {
    background-image: url(/images/user/myfund.png)
}

.block-title {
    padding-left: 8px;
    border-bottom: 1px solid #eaeaea;
    height: 34px;
    line-height: 34px;
    font-size: 13px
}

.order .block-item i {
    display: block;
    width: 24px;
    height: 24px;
    margin: 5px auto;
    background-size: 24px
}

i.unconfirm {
    background-image: url(/images/user/unconfirm.png)
}

i.uncomment {
    background-image: url(/images/user/uncomment.png)
}

i.refund {
    background-image: url(/images/user/refund.png)
}

i.unpaid {
    background-image: url(/images/user/unpaid.png)
}

i.unsend {
    background-image: url(/images/user/unsend.png)
}

.fund .block-item, .order .block-item {
    width: 70px;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    text-decoration: none;
    font-size: 12px;
    color: #666
}

.fund .value {
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0;
    color: #000
}

.list-item .arrow-right {
    float: right;
    margin-top: 6px;
    margin-right: 6px
}

i.list-item-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-right: 10px
}

i.rmaservice {
    background-image: url(/images/user/rmaservice.png)
}

i.feedback {
    background-image: url(/images/user/feedback.png)
}

i.address {
    background-image: url(/images/user/address.png)
}

i.logout {
    background-image: url(/images/user/logout.png)
}

i.tel {
    background-image: url(/images/user/tel.png)
}

.list-item {
    display: block;
    text-decoration: none;
    color: #333;
    padding-left: 8px;
    border-bottom: 1px solid #eaeaea;
    height: 34px;
    line-height: 34px;
    font-size: 13px
}

.hint {
    color: #999;
    font-size: 11px;
    margin: 15px;
    line-height: 15px
}

#wrapper {
    display: none
}

.user-unlogin {
    box-sizing: border-box;
    height: 158px;
    background-image: linear-gradient(-204deg, #FD465F 0, #FC5E9F 100%);
    padding-top: 15px
}

.noportrait {
    background-image: url(/images/user/noportrait.png);
    width: 60px;
    height: 60px;
    background-size: 60px;
    margin: auto
}

.user-unlogin .operation {
    padding: 10px;
    width: 200px;
    margin: auto
}

.user-unlogin .operation .separator {
    background: #fff;
    width: 1px;
    display: inline-block;
    height: 15px;
    vertical-align: middle
}

.user-unlogin .operation a {
    line-height: 25px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 95px
}

.user-unlogin .link {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    width: 103px;
    line-height: 30px
}

.icons > a {
    color: #666;
    text-decoration: none
}

#wrapper {
    width: 320px
}

html {
    -webkit-text-size-adjust: auto
}

.head-wrap {
    height: 38px;
    background: #FFF;
    width: 320px;
    font-size: 14px;
    color: #333;
    line-height: 38px;
    text-align: center;
    position: relative
}

.head-left {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 92px;
    height: 38px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.head-title {
    position: static;
    background: #ed145b;
    color: #fff;
    float: left;
    width: 320px;
    text-align: center;
    line-height: 38px
}

.head-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    background: url(/images/user/home_white_bg.png) no-repeat center center;
    background-size: 24px 24px
}

.head-left a, .head-right a {
    display: block
}

.head-left a {
    background: url(/images/user/back_white_bg.png) no-repeat left center;
    background-size: 24px 24px;
    padding-left: 18px
}

.head-left a.back-color {
    background: url(/images/user/back_color.png) no-repeat left center;
    background-size: 24px 24px;
    padding-left: 18px;
    color: #F44051
}

.head-title a {
    padding: 5px 0
}

.head-title a.active {
    border-bottom: 1px solid #fff
}

header .brand {
    margin-right: 10px
}

header a {
    text-decoration: none;
    color: #fff
}

header {
    display: none
}


.head-wrap {
    zoom: 1;
    z-index: 1;
    background: transparent;
}

.head-title {
    background: transparent;
}

#wrapper {
    top: 0;
    position: absolute;
}

.user-unlogin {
    padding-top: 50px;
}

.user_info .name {
    font-family: sans-serif;
    line-height: 20px;
}

.ui-dialog-content {
    text-align: center;
}

.android .ui-dialog-content {
    padding: 30px 5px;
    min-height: 0;
}
.gmu-media-detect {
    -webkit-transition: width 0.001ms;
    width: 0;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (width: 412px) {
    #gmu-media-detect0 {
        width: 1px;
    }
}