@charset "UTF-8";
.hori-center, .nav-center, .veri-center {
    display: -webkit-box;
    display: -ms-flexbox
}

.content .no-address, .over-lay .dialog, .page {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical
}

.over-lay .expire button:focus, html * {
    outline: 0
}

@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 300;
    src: local("Helvetica Neue Light Italic"), local(HelveticaNeue-LightItalic), local("Helvetica Light Oblique"), local(Helvetica-LightOblique)
}

@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
    src: local("Helvetica Neue Italic"), local(HelveticaNeue-Italic), local("Helvetica Oblique"), local(Helvetica-Oblique)
}

@font-face {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 700;
    src: local("Helvetica Neue Bold Italic"), local(HelveticaNeue-BoldItalic), local("Helvetica Bold Oblique"), local(Helvetica-BoldOblique)
}

@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local("Helvetica Neue Light"), local(HelveticaNeue-Light), local("Helvetica Light"), local(Helvetica-Light)
}

@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local(HelveticaNeue), local(Helvetica)
}

@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local("Helvetica Neue Bold"), local(HelveticaNeue-Bold), local("Helvetica Bold"), local(Helvetica-Bold)
}

html {
    height: 100%;
    color: #000;
    background: #fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html * {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent
}

body, html {
    font-family: sans-serif
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

input, select, textarea {
    font-size: 100%
}

input, textarea {
    /*-webkit-appearance: none*/
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500
}

q:after, q:before {
    content: ''
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

.cell-content-88, .cell-title-72, .cell-title-80 {
    font-size: .875rem;
    border-bottom: 1px solid #eee
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

a:active, a:hover, a:link, a:visited {
    text-decoration: none;
    color: inherit
}

a, ins {
    text-decoration: none
}

.hori-center {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.nav-center, .veri-center {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.cell-title-72 {
    height: 2.25rem;
    color: #999
}

.cell-content-88 {
    height: 2.75rem;
    line-height: 1.25rem;
    padding: .75rem;
    color: #333
}

.cell-title-80 {
    height: 2.5rem;
    color: #333
}

body {
    min-height: 100%;
    background-color: #f5f5f5;
    color: #333;
    font-size: .75rem;
    line-height: 1
}

.notice-text {
    padding: .15625rem .46875rem .09375rem;
    font-size: .625rem;
    color: #fe4070;
    border-radius: .4375rem;
    border: 1px solid #fe4070;
    margin-left: .5rem
}

.content .invoice-box .invo-nav .invo-title, .content .order-groups .order-group .product-items .product-item .item-info .item-info-1 .item-title, .content .time-select-box .time-text, .ellipsis-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.content .invoice-box .invo-nav, .content .order-groups .order-group .group-stat .stat-nav, .content .order-groups .order-group .reduce-sum, .content .verify .stat-nav, .nav-box {
    height: 2.75rem;
    border-top: 1px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 .75rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.content .count-down, .page {
    display: -webkit-box;
    display: -ms-flexbox
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

.content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: .5rem
}

.content .count-down {
    background: #fff;
    height: 1.875rem;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: .5rem;
    padding: 0 .9375rem
}

.content .count-down .clock-icon {
    width: .9375rem;
    height: .9375rem;
    background-image: url(../../../images/common/cart-clock-icon.png);
    background-size: 100% 100%
}

.content .count-down > span:nth-child(2) {
    margin-left: .5rem;
    font-size: .75rem;
    color: #999
}

.content .count-down > span:nth-child(2) .timer-text {
    font-size: .875rem;
    color: #fe4070
}

.content .address-box {
    background: url(../../../images/shop/order/border-bottom-line.png) center bottom no-repeat #fff;
    background-size: 100% .15625rem;
    padding: .59375rem .75rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.content .address-box .location-icon {
    width: .75rem;
    height: 1rem;
    background: url(../../../images/shop/order/location.png) center center no-repeat;
    background-size: 100% 100%;
    display: block
}

.content .address-box .addr-text {
    width: 18.875rem
}

.content .address-box .addr-text .per-info {
    line-height: .9375rem
}

.content .address-box .addr-text .per-info .per-tel {
    margin-left: .625rem
}

.content .address-box .addr-text .address-detail {
    margin-top: .625rem;
    font-size: .8125rem;
    line-height: 1.125rem
}

.content .address-box .addr-text .per-card {
    margin-top: .3125rem;
    font-size: .8125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.content .address-box .addr-text .per-card .real-name {
    padding: .15625rem .96875rem .09375rem;
    font-size: .625rem;
    color: #fe4070;
    border-radius: .4375rem;
    border: 1px solid #fe4070;
    margin-left: .5rem
}

.content .address-box .right-arrow {
    width: .34375rem;
    height: .5625rem;
    background-image: url(../../../images/shop/order/right-arrow.png);
    background-size: 100% 100%;
    display: block
}

.content .no-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 6.4375rem;
    background: #fff;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.content .no-address .no-addr-icon {
    width: 3.75rem;
    height: 4rem;
    background-image: url(../../../images/shop/order/no-addr-icon.png);
    background-size: 100% 100%
}

.content .no-address .no-addr-text {
    margin-top: .375rem
}

.content .no-address .no-addr-text a {
    color: #fe4070;
    text-decoration: none
}

.content .time-select-box {
    background: #fff;
    margin-top: .5rem;
    padding: .875rem .75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.content .time-select-box .calendar-icon {
    width: 1rem;
    height: 1rem;
    background: url(../../../images/shop/order/brief-case.png) center center no-repeat;
    background-size: 100% 100%;
    display: block
}

.content .time-select-box .time-text {
    width: 18.875rem;
    height: .9375rem;
    display: block
}

.content .time-select-box .right-arrow {
    width: .34375rem;
    height: .5625rem;
    background-image: url(../../images/common/right-arrow.png);
    background-size: 100% 100%;
    display: block
}

.content .order-groups .order-group {
    background: #fff;
    margin-top: .5rem
}

.content .order-groups .order-group .group-head {
    padding: .65625rem .75rem;
    border-bottom: 1px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.content .order-groups .order-group .group-head .store-icon {
    width: 1.03125rem;
    height: .9375rem;
    background: url(../../../images/shop/order/shop-head-icon.png) no-repeat;
    background-size: 100% 100%;
    display: block
}

.content .order-groups .order-group .group-head .store-info {
    margin-left: .85937rem;
    color: #999
}

.content .order-groups .order-group .product-items .product-item {
    margin: 0 .75rem;
    padding: .75rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #eee
}

.content .order-groups .order-group .product-items .product-item .item-img {
    width: 3.75rem;
    height: 3.75rem
}

.content .order-groups .order-group .product-items .product-item .item-info {
    width: 17.5625rem;
    height: 3.75rem
}

.content .order-groups .order-group .product-items .product-item .item-info .item-info-1 {
    line-height: .875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.content .order-groups .order-group .product-items .product-item .item-info .item-info-1 .item-title {
    width: 13.4375rem
}

.content .order-groups .order-group .product-items .product-item .item-info .item-info-1 .item-title .red {
    color: #fe4070;
    float: left
}

.content .order-groups .order-group .product-items .product-item .item-info .item-info-2 {
    margin-top: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: .75rem;
    color: #999;
    line-height: .75rem
}

.content .order-groups .order-group .product-items .product-item .item-info span {
    display: block
}

.content .order-groups .order-group .product-items .product-item:last-child {
    border-bottom: none
}

.content .order-groups .order-group .reduce-sum .notice-num {
    color: #fe4070
}

.content .order-groups .order-group .group-stat .stat-nav .freight-info {
    text-align: right
}

.content .order-groups .order-group .group-stat .stat-nav .freight-info .fre-info-1 {
    line-height: .9375rem
}

.content .order-groups .order-group .group-stat .stat-nav .freight-info .fre-info-2 {
    line-height: .75rem;
    margin-top: .25rem;
    color: #999;
    font-size: .75rem
}

.content .order-groups .order-group .group-stat .stat-nav .right-arrow-icon {
    display: inline-block;
    width: .34375rem;
    height: .5625rem;
    margin-left: .5rem;
    background-image: url(../../images/common/right-arrow.png);
    background-size: 100% 100%
}

.content .order-groups .order-group .group-stat .stat-nav .detail-text {
    font-size: .75rem;
    color: #999;
    margin-left: .5rem
}

.content .order-groups .order-group .group-stat .stat-nav .disable-text {
    color: #999
}

.content .order-groups .order-group .group-stat .stat-nav .no-select-tag {
    padding: .1875rem .375rem .125rem;
    background: #eee;
    font-size: .625rem;
    color: #999;
    border-radius: .46875rem;
    display: inline-block;
    margin-left: .3125rem
}

.content .order-groups .order-group .group-stat .stat-nav .sel-promo {
    color: #fe4070
}

.content .order-groups .order-group .group-stat .stat-nav .sel-promo a {
    width: 3.6875rem;
    margin-left: .5rem;
    line-height: 1.6875rem;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 1px solid #e3e3e3;
    display: inline-block;
    border-radius: .84375rem;
    cursor: default
}

.content .order-groups .order-group .group-stat .stat-nav .ques-icon {
    width: .75rem;
    height: .75rem;
    background: url(../../images/common/ques-detail-icon.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: .3125rem
}

.content .order-groups .order-group .group-stat .stat-nav .notice-num {
    color: #fe4070;
    font-size: .9375rem
}

.content .order-groups .film-group {
    margin-top: 0
}

.content .order-groups .film-group .film-items {
    background: #f5f5f5;
    padding: 0 .5rem .5rem
}

.content .order-groups .film-group .film-items .film-item {
    margin-top: .5rem;
    background: url(../../../images/shop/order/half-circle.png) left bottom repeat-x #fff;
    background-size: .625rem .375rem;
    padding: 1.25rem .75rem .375rem
}

.content .order-groups .film-group .film-items .film-item .film-name {
    font-size: .9375rem
}

.content .order-groups .film-group .film-items .film-item .film-info {
    margin-top: .5rem;
    font-size: .75rem;
    color: #666
}

.content .order-groups .film-group .film-items .film-item .film-info > div:not(:first-child) {
    margin-top: .1875rem
}

.content .order-groups .film-group .film-items .film-item .item-foot {
    margin-top: 1.25rem;
    border-top: 1px solid #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.75rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.content .order-groups .film-group .group-stat .stat-nav:first-child, .content .verify .stat-nav:first-child {
    border: 0
}

.content .order-groups .film-group .film-items .film-item .item-foot > span:nth-child(1) {
    font-size: .75rem;
    color: #666
}

.content .order-groups .film-group .film-items .film-item .item-foot > span:nth-child(2) {
    font-size: .75rem;
    color: #999
}

.content .verify {
    margin-top: .5rem;
    background: #fff
}

.content .verify .stat-nav .get-code {
    display: block;
    width: 5.875rem;
    line-height: 1.6875rem;
    text-align: center;
    color: #fe4070;
    text-decoration: none;
    border: 1px solid #fe4070;
    border-radius: .875rem;
    cursor: default
}

.content .verify .stat-nav .get-code.disabled {
    color: #999;
    border-color: #e3e3e3
}

.content .verify .stat-nav input {
    width: 5rem;
    height: 1.75rem;
    margin-left: .5rem;
    padding: 0 .75rem;
    border: 0;
    border-radius: .875rem;
    background: #f5f5f5
}

.content .verify .stat-nav .confirm {
    display: block;
    width: 3.75rem;
    line-height: 1.75rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: #fe4070;
    border-radius: .875rem;
    cursor: default
}

.content .film-notice {
    margin-top: .5rem;
    background: #fff;
    padding: .5rem .75rem
}

.content .film-notice > div {
    font-size: .875rem
}

.content .film-notice ul > li {
    color: #666;
    font-size: .75rem;
    margin-top: .125rem
}

.content .invoice-box {
    margin-top: .5rem;
    background: #fff
}

.content .invoice-box .invo-head {
    padding: .65625rem .75rem;
    line-height: .9375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #999
}

.content .invoice-box .invo-nav .detail-text {
    margin-left: .5rem;
    color: #999;
    font-size: .75rem
}

.content .invoice-box .invo-nav .ques-icon {
    width: .75rem;
    height: .75rem;
    margin-left: .3125rem;
    background-image: url(../../../images/shop/order/ques-detail-icon.png);
    background-size: 100% 100%;
    display: inline-block
}

.content .invoice-box .invo-nav .select-icon {
    width: 1.25rem;
    height: 1.25rem;
    background-size: 100% 100%
}

.content .invoice-box .invo-nav .select-icon.checked {
    background-image: url(../../../images/shop/order/check-box-checked.png)
}

.content .invoice-box .invo-nav .select-icon.unchecked {
    background-image: url(../../../images/shop/order/check-box-unchecked.png)
}

.content .invoice-box .invo-nav .invo-title {
    display: inline-block;
    width: 14.875rem;
    height: .9375rem;
    line-height: .9375rem;
    margin-left: .5rem;
    text-align: right
}

.content .invoice-box .invo-nav .right-arrow-icon {
    width: .34375rem;
    height: .5625rem;
    margin-left: 1.0625rem;
    background-image: url(../../../images/shop/order/right-arrow.png);
    background-size: 100% 100%;
    display: inline-block
}

.content .invoice-box .invo-remark, .submit-box {
    display: -webkit-box;
    padding: 0 .75rem;
    border-top: 1px solid #eee
}

.content .invoice-box .invo-remark {
    min-height: 2.75rem;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #999;
    font-size: .6875rem;
    line-height: .75rem
}

.submit-box {
    height: 3.09375rem;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.submit-box .order-stat {
    font-size: .75rem
}

.submit-box .order-stat .stat-count {
    color: #999
}

.submit-box .order-stat .stat-sum {
    line-height: 1rem;
    margin-top: .3125rem
}

.submit-box .order-stat .stat-sum span {
    font-size: 1rem;
    color: #fe4070
}

.submit-box button {
    width: 7.8125rem;
    height: 2.25rem;
    font: inherit;
    color: #fff;
    font-size: .9375rem;
    background: #fe4070;
    border: 0;
    border-radius: 1.125rem
}

.submit-box button[disabled] {
    color: #d1d1d1;
    background: #eee
}

.over-lay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2
}

.over-lay .dialog {
    width: 20.4375rem;
    height: 16.96875rem;
    background: #fff;
    border-radius: .3125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center
}

.over-lay .dialog .dialog-header {
    height: 2.96875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: .9375rem
}

.over-lay .dialog .dialog-header .dialog-close {
    position: absolute;
    right: .75rem;
    top: .75rem;
    width: 1.46875rem;
    height: 1.46875rem;
    background: url(../../images/cashier/close-icon.png) no-repeat;
    background-size: 100% 100%
}

.over-lay .dialog .dialog-content {
    height: 10.75rem;
    overflow: hidden;
    overflow: auto
}

.over-lay .dialog .dialog-content .item {
    margin: 0 .75rem .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fafafa
}

.over-lay .dialog .dialog-content .item img {
    width: 3.75rem;
    height: 3.75rem;
    margin-right: .5rem
}

.over-lay .dialog .dialog-content .item .title-text {
    width: 13.6875rem
}

.over-lay .dialog .dialog-content .item .title-text .title {
    width: 13.6875rem;
    height: .9375rem;
    line-height: .9375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.over-lay .dialog .dialog-content .item .title-text .sub-title {
    font-size: .75rem;
    color: #999;
    margin-top: .5625rem
}

.over-lay .dialog .dialog-content .item .title-text .price-line {
    margin-top: .5625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: .75rem;
    color: #999
}

.over-lay .dialog .dialog-content .item .title-text .price-line .price-num {
    color: #fe4070
}

.over-lay .dialog .dialog-content .item .title-text .quantity {
    margin-top: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: .75rem;
    color: #999
}

.over-lay .dialog .dialog-tail {
    height: 3.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #eee
}

.over-lay .dialog .dialog-tail .tail-text {
    color: #999;
    font-size: .75rem;
    line-height: 1.0625rem;
    text-align: center;
    padding: 0 .75rem
}

.over-lay .expire {
    height: 8.625rem;
    background: #fff;
    border-radius: .375rem;
    width: 18.125rem;
    font-size: .875rem;
    position: relative
}

.over-lay .expire .message {
    line-height: 5.1875rem;
    text-align: center
}

.over-lay .expire button {
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    margin-left: -4.6875rem;
    width: 9.375rem;
    height: 2.1875rem;
    font: inherit;
    color: #fff;
    background: #fe4070;
    border: 0;
    border-radius: 1.09375rem
}

#invo_support_dialog .dialog .dialog-header {
    height: 2.4375rem;
    padding-top: .5rem
}

#invo_support_dialog .dialog .dialog-subhead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: .75rem
}

#invo_support_dialog .dialog .dialog-subhead a {
    margin-right: .125rem;
    color: #999;
    display: inline-block
}

#invo_support_dialog .dialog .dialog-subhead .detail-arrow {
    width: .78125rem;
    height: .78125rem;
    background: url(../../images/show/up-arrow.png) no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

#invo_support_dialog .dialog .dialog-content {
    margin-top: .75rem;
    height: 9.53125rem
}

#invo_support_dialog .dialog .dialog-tail a {
    text-align: center;
    display: block;
    width: 7.8125rem;
    height: 2.25rem;
    background: #fe4070;
    border-radius: 1.25rem;
    color: #fff;
    text-decoration: none;
    line-height: 2.25rem;
    font-size: .9375rem
}

.scroller-box {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1
}

.scroller-box .scroller {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.scroller-box .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.75rem;
    padding: 0 1.09375rem;
    font-size: .875rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f5f5f5
}

.scroller-box .title a {
    color: #fe4070;
    text-decoration: none;
    display: block
}

.scroller-box .wrapper {
    height: 9.5625rem;
    background: #fff;
    overflow: hidden;
    position: relative
}

.scroller-box .wrapper ul {
    padding: 3.53125rem 0
}

.scroller-box .wrapper ul li {
    text-align: center;
    line-height: 2.5rem;
    color: #999
}

.scroller-box .wrapper ul li.selected {
    color: #333;
    font-size: .875rem
}

.scroller-box .wrapper .highlight {
    height: 2.5rem;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -1.25rem;
    pointer-events: none
}

.invoice-edit-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1
}

.invoice-edit {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: .875rem;
    background: #fff
}

.invoice-edit .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 2.75rem;
    padding: 0 1.09375rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f5f5f5
}

.invoice-edit .title a {
    color: #fe4070;
    text-decoration: none;
    display: block
}

.invoice-edit .invoice-item {
    height: 2.75rem;
    padding: 0 .75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #eee
}

.invoice-edit .invoice-item .check-icon {
    width: 1.25rem;
    height: 1.25rem;
    background: url(../../../images/shop/order/check-box-checked.png) no-repeat;
    background-size: 100% 100%;
    display: block
}

.invoice-edit .invoice-item .uncheck-icon {
    width: 1.25rem;
    height: 1.25rem;
    background: url(../../../images/shop/order/check-box-unchecked.png) no-repeat;
    background-size: 100% 100%;
    display: block
}

.invoice-edit .company-name {
    margin: 0 .75rem;
    padding: .75rem 0;
    border-top: 1px solid #eee
}

.invoice-edit .company-name textarea {
    width: 100%;
    height: 2.5rem;
    line-height: 1.25rem;
    border: 0
}