blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, menu, ol, p, pre, table, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

address, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th {
    text-align: left;
    font-weight: 400
}

abbr, body, fieldset, html, iframe, img {
    border: 0
}

address, cite, dfn, em, i, var {
    font-style: normal
}

summary {
    outline: 0
}

li {
    list-style: none
}

h1, h2, h3, h4, h5, h6, small {
    font-size: 100%
}

sub, sup {
    font-size: 83%
}

code, kbd, pre, samp {
    font-family: inherit
}

q:after, q:before {
    content: none
}

textarea {
    overflow: auto;
    resize: none
}

label, summary {
    cursor: default
}

a, button {
    cursor: pointer
}

b, em, h1, h2, h3, h4, h5, h6, strong {
    font-weight: 700
}

a, a:hover, del, ins, s, u {
    text-decoration: none
}

body, button, input, keygen, legend, select, textarea {
    font: 12px/1.14 arial, \5b8b\4f53;
    color: #333;
    outline: 0
}

a {
    color: #333
}

body {
    background: #FAFAFA
}

.head-wrap {
    height: 38px;
    background: #FFF;
    width: 320px;
    font-size: 14px;
    color: #333;
    line-height: 38px;
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
    position: relative
}

.head-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 92px;
    height: 38px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.head-title {
    float: left;
    width: 320px;
    text-align: center;
    line-height: 38px
}

.head-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    background: url(../../images/mobile_usercenter/home_bg.png) no-repeat center center;
    background-size: 24px 24px
}

.head-left a, .head-right a {
    display: block
}

.head-left a {
    background: url(../../images/mobile_usercenter/back_bg.png) no-repeat left center;
    background-size: 24px 24px;
    padding-left: 18px
}

.head-left a.back-color {
    background: url(../../images/mobile_usercenter/back_color.png) no-repeat left center;
    background-size: 24px 24px;
    padding-left: 18px;
    color: #F44051
}

.main-wrap {
    width: 320px;
    background: #FAFAFA
}

.coupon-select {
    width: 120px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    padding-top: 6px
}

.coupon-select .tab {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 0;
    background: #FAFAFA;
    border: 1px solid #E0E0E0;
    height: 22px;
    line-height: 22px
}

.coupon-select .active {
    background: #E60A56;
    border: 1px solid #E60A56;
    color: #FFF
}

.coupon-select .active a {
    color: #fff
}

.fl {
    float: left
}

.fr {
    float: right
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.loadingwrap {
    position: fixed;
    top: 200px;
    width: 100%;
    display: none
}

.loadingwrap img {
    position: absolute;
    left: 50%;
    margin-left: -16px
}