

.user_info .name {
    font-family: sans-serif;
    line-height: 20px;
}

.ui-dialog-content {
    text-align: center;
}

.android .ui-dialog-content {
    padding: 30px 5px;
    min-height: 0;
}

.head-wrap {
    zoom: 1;
    z-index: 1;
    background: transparent;
}

.head-title {
    background: transparent;
}

#wrapper {
    top: 0;
    position: absolute;
}

.user-unlogin {
    padding-top: 50px;
}

.gmu-media-detect {
    -webkit-transition: width 0.001ms;
    width: 0;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

@media screen and (width: 412px) {
    #gmu-media-detect0 {
        width: 1px;
    }
}